<h1 class="text-center">Login</h1>
    <%= form_tag("/login", method: :post) do %>
        <div class="row g-3">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <%= label_tag :email %>
                <%= email_field_tag :email %>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <%= label_tag :password %>
                <%= password_field_tag :password, nil %>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <%= submit_tag "Login", class: "btn btn-primary col-md-12" %>
            </div>
            <div class="col-md-4"></div>
        </div>
    <% end %>
    <br/>
    <%= link_to 'Login with Canvas (TBD)', '/auth/canvas' %>
    <p class='text-center'>New here? <%= link_to "Sign Up", "/signup" %></p>
