<div class="container d-grid gap-2">
    <%= content_tag(:h1, "Sign Up") %>
    <%= content_tag(:small) do %>
        Already signed up? <%= link_to "Login", '/login', class: "text-reset" %>
    <% end %>
    <div class="d-grid gap-2 col-3 mx-auto">
        <%= button_tag type: "button", class: %w(btn btn-primary) do %>
            <div class="d-flex justify-content-around align-items-center">
                <%= image_tag 'google-icon.svg', height: '30', width: '30' %>
                <%= link_to "Continue with Google", '/auth/google_oauth2', method: :post, class:"text-white text-decoration-none" %>
                <div></div>
            </div>
        <% end %>
    </div>
    <hr class="mx-auto col-6">
    <%= content_tag(:p, "Or sign up with email", class: "text-center") %>
    <%= render partial: "form", locals: {submit_text: "Sign Up"} %>
</div>
