<div class="container">
    <%= content_tag(:h1, "Sign Up", class: "text-center") %>
    <%= content_tag(:p, class: "text-center") do %>
        <small>Already signed up? <%= link_to "Login", '/login' %></small>
    <% end %>
    <br>
    <div class="d-grid gap-2 col-4 mx-auto">
        <%= button_tag type: "button", class: %w(btn border border-primary) do %>
            <%= image_tag 'google-icon.svg', height: '20', width: '20' %>
            <%= link_to "Continue with Google", '/auth/google_oauth2', method: :post, class: "text-decoration-none" %>
        <%  end %>
        <button class="btn btn-primary" type="button">Future option (TBD)</button>
    </div>
<br> 
<hr class="mx-auto col-6">

<%= content_tag(:p, "Or sign up with email", class: "text-center") %>

<%= render "form" %>

</div>