<div class="container">
    <%= content_tag(:h1, "Sign Up", class: "text-center") %>
    <br/><br/>
    <div class="d-grid gap-2">
        <%= button_tag type: "button", class: %w(btn btn-primary) do %>
            <%= link_to "Continue with Google", '/auth/google_oauth2', class: "text-light" %>
        <%  end %>
    </div>

<hr class="dropdown-divider">

<%= content_tag(:p, "Or sign up with email", class: "text-center") %>

<%= render "form" %>

</div>