<div class="row gx-5">
    <div class="col-3">
        <%= content_tag(:h1, display_name(@user), class: "display-3 text-start") %>
        <%= render partial: "projects", locals: {user: @user} %>
    </div>
    <div class="col-6">
        <%= render partial: 'carousel', locals: {projects: @user.projects} %>

        <div class='row'>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>

    </div>
    <div class="col-3 text-start">
        <div class='row d-flex align-items-center'>
            <div class='col-6'>
                <%= image_tag(avatar(@user), class: %w(rounded-circle border border-2 border-secondary), height: '120', width: '120') %>
            </div>
            <%= owner_controls(@user, nil, "user") %>
        </div>
            <%= content_tag(:p, @user.email, class: "pt-3") %>
            <%= content_tag(:p) do %>
                Member Since: <%= display_date(@user.created_at) %>
            <% end %>
        
    </div>
</div>
