<% if @project.errors.any? %>
    <h2 class='text-danger'>Oops! <%= pluralize(@project.errors.count, "error")  %>:</h2>
        <ul>
            <% @project.errors.full_messages.each do |message| %>
                <%= content_tag(:li, message, class: "list-unstyled") %>
            <% end %>
        </ul>
<% end %>

    
    <%= form_for([@phase, @project]) do |f| %>
        <%= content_tag(:div, class: "row g-3 text-dark") do %>
            <%= content_tag(:div, nil, class: "col-md-3") %>
            <%= content_tag(:div, class: %w(form-floating mb-3 col-md-6)) do %>
                <%= f.text_field :name, class: "form-control", placeholder: "[Project Name]"%>
                <%= f.label :name, "Project Name" %>
            <% end %>
            <%= content_tag(:div, nil, class: "col-md-3") %>
            <%= content_tag(:div, nil, class: "col-md-3") %>
            <%= content_tag(:div, class: %w(form-floating mb-3 col-md-6)) do %>
                <%= f.text_area :desc, class: "form-control h-100", placeholder: "[Project Description]" %>
                <%= f.label :desc, "Description" %>
            <% end %>

            <%= phase_form_fields(f) %>                

            <%= content_tag(:div, nil, class: "col-md-3") %>
            <%= content_tag(:div, nil, class: "col-md-3") %>
            <%= content_tag(:div, class: %w(form-floating mb-3 col-md-6)) do %>
                <%= f.text_field :youtube_link, class: "form-control", placeholder: "[YouTube Link]" %>
                <%= f.label :youtube_link %>
            <% end %>
            <%= content_tag(:div, nil, class: "col-md-3") %>
            <%= content_tag(:div, nil, class: "col-md-3") %>
            <%= content_tag(:div, class: %w(form-floating mb-3 col-md-6)) do %>
                <%= f.text_field :blog_link, class: "form-control", placeholder: "[Blog Link]" %>
                <%= f.label :blog_link %>
            <% end  %>
            <%= content_tag(:div, nil, class: "col-md-3") %>
            <%= content_tag(:div, nil, class: "col-md-3") %>
            <%= content_tag(:div, class: %w(form-floating mb-3 col-md-6)) do %>
                <%= f.text_field :github_link, class: "form-control", placeholder: "[Github Link]" %>
                <%= f.label :github_link %>
            <% end  %>
            <%= content_tag(:div, nil, class: "col-md-3") %>
            <%= content_tag(:div, nil, class: "col-md-3") %>
            <%= content_tag(:div, class: %w(col-md-6)) do %>
                <%= f.submit nil, class: "form-control btn btn-primary" %>
            <% end  %>
            <%= content_tag(:div, nil, class: "col-md-3") %>
            <br><br><br>
        <% end %>
    <% end %>