<div class='d-flex justify-content-end mb-3'>
    <%= link_to "Edit", edit_project_path(project), class: ["btn", "btn-outline-success", "me-2"] %>
    <%= link_to "Delete", project_path(project), method: :delete, class: ["btn", "btn-outline-danger", "float-end"] %>
</div>

<div class="card w-25">
<%= content_tag(:h5, project.name, class: "card-header") %>
    <div class="card-body">
        <%= content_tag(:p, project.desc, class: "card-text") %>
        <%= content_tag(:p, class: "text-center") do %>
            <%= "Phase: #{project.phase.name}" %>
        <% end %>
        <iframe src='https://www.youtube.com/embed/<%= youtube_id(project) %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
        <%= link_to "blog", project.blog_link, class: "card-text" %>
        <%= link_to "github", project.github_link, class: "card-text" %>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between">
            <small>Created by <%= link_to project.owner.first_name, user_path(project.owner) %></small>
    </div> 
</div>



