<%= content_tag(:h1, "Project Index Page", class: "text-center") %>


<%= content_tag(:h3, "Projects from your classmates") %>
<div class="row row-cols-1 row-cols-md-5 g-4">
    <%= render partial: "project", collection: projects(current_user.cohort) %>
</div>

<%= content_tag(:h3, "Popular projects") %>
<div class="row row-cols-1 row-cols-md-5 g-4">
    <%= render partial: "project", collection: Project.five_most_liked %>
</div>

<%= content_tag(:h3, "CLI Projects") %>
<div class="row row-cols-1 row-cols-md-5 g-4">
    <%= render partial: "project", collection: Project.all %>
</div>

<%= content_tag(:h3, "Sinatra Projects") %>
<div class="row row-cols-1 row-cols-md-5 g-4">
    <%= render partial: "project", collection: projects(current_user.cohort) %>
</div>

<%= content_tag(:h3, "Rails Projects") %>
<div class="row row-cols-1 row-cols-md-5 g-4">
    <%= render partial: "project", collection: projects(current_user.cohort) %>
</div>

<%= content_tag(:h3, "Rails + Javascript Projects") %>
<div class="row row-cols-1 row-cols-md-5 g-4">
    <%= render partial: "project", collection: projects(current_user.cohort) %>
</div>

<%= content_tag(:h3, "Final Projects") %>
<div class="row row-cols-1 row-cols-md-5 g-4">
    <%= render partial: "project", collection: projects(current_user.cohort) %>
</div>