<%= content_tag(:h1, "flatiron_project_mode", class: "display-3") %>

    <div class="d-flex justify-content-between pt-3">
        <%= content_tag(:h3, "From Your Classmates") %>
        <%= content_tag(:p) do %>
            <%= link_to "See all", cohort_path(current_user.cohort), class: "text-white text-decoration-none" %>
        <% end %>
    </div>
    <hr class="mt-0">
    <div class="row row-cols-1 row-cols-md-4 g-4 py-3">
        <%= render(partial: "project", collection: projects(current_user.cohort)) || empty_collection_hanlder %>
    </div>

    <div class="d-flex justify-content-between pt-3">
        <%= content_tag(:h3, "Popular Projects") %>
        <%= content_tag(:p) do %>
            <%= link_to "See all", cohort_path(current_user.cohort), class: "text-white text-decoration-none" %>
        <% end %>
    </div>
    <hr class="mt-0">
    <div class="row row-cols-1 row-cols-md-4 g-4 py-3">
        <%= render(partial: "project", collection: Project.five_most_liked) || empty_collection_hanlder %>
    </div>


    <%= render partial: "phases/homepage_sections" %>
    