<%= content_tag(:h1, "<\%\=\ project_mode %\>") %>

    <div class="d-flex justify-content-between pt-3">
        <%= content_tag(:h3, "From your classmates") %>
        <%= content_tag(:p) do %>
            <%= link_to "See all", cohort_path(current_user.cohort), class: "text-white text-decoration-none" %>
        <% end %>
    </div>
    <hr class="mt-0">
    <div class="row row-cols-1 row-cols-md-4 g-4 py-3">
        <%= render partial: "project", collection: projects(current_user.cohort) %>
    </div>

    <div class="d-flex justify-content-between pt-3">
        <%= content_tag(:h3, "Popular projects") %>
        <%= content_tag(:p) do %>
            <%= link_to "See all", cohort_path(current_user.cohort), class: "text-white text-decoration-none" %>
        <% end %>
    </div>
    <hr class="mt-0">
    <div class="row row-cols-1 row-cols-md-4 g-4 py-3">
        <%= render partial: "project", collection: Project.five_most_liked %>
    </div>

    <div class="d-flex justify-content-between pt-3">
        <%= content_tag(:h3, "Recent CLI Projects") %>
        <%= content_tag(:p) do %>
            <%= link_to "See all", cohort_path(current_user.cohort), class: "text-white text-decoration-none" %>
        <% end %>
    </div>
    <hr class="mt-0">
    <div class="row row-cols-1 row-cols-md-4 g-4 py-3">
        <%= render partial: "project", collection: Project.phase(43) %>
    </div>

    <div class="d-flex justify-content-between pt-3">
        <%= content_tag(:h3, "Recent Sinatra Projects") %>
        <%= content_tag(:p) do %>
            <%= link_to "See all", cohort_path(current_user.cohort), class: "text-white text-decoration-none" %>
        <% end %>
    </div>
    <hr class="mt-0">
    <div class="row row-cols-1 row-cols-md-4 g-4 py-3">
        <%= render partial: "project", collection: Project.phase(44) %>
    </div>

    <div class="d-flex justify-content-between pt-3">
        <%= content_tag(:h3, "Recent Rails Projects") %>
        <%= content_tag(:p) do %>
            <%= link_to "See all", cohort_path(current_user.cohort), class: "text-white text-decoration-none" %>
        <% end %>
    </div>
    <hr class="mt-0">
    <div class="row row-cols-1 row-cols-md-4 g-4 py-3">
        <%= render partial: "project", collection: Project.phase(45) %>
    </div>

    <div class="d-flex justify-content-between pt-3">
        <%= content_tag(:h3, "Recent Javascript Projects") %>
        <%= content_tag(:p) do %>
            <%= link_to "See all", cohort_path(current_user.cohort), class: "text-white text-decoration-none" %>
        <% end %>
    </div>
    <hr class="mt-0">
    <div class="row row-cols-1 row-cols-md-4 g-4 py-3">
        <%= render partial: "project", collection: Project.phase(46) %>
    </div>

    <div class="d-flex justify-content-between pt-3">
    <%= content_tag(:h3, "Recent Final Projects") %>
        <%= content_tag(:p) do %>
            <%= link_to "See all", cohort_path(current_user.cohort), class: "text-white text-decoration-none" %>
        <% end %>
    </div>
    <hr class="mt-0">
    <div class="row row-cols-1 row-cols-md-4 g-4 py-3">
        <%= render partial: "project", collection: Project.phase(47) %>
    </div>