<div class="row gx-5">
    <div class="col">
        <%= content_tag(:h1, @project.name, class: "display-3 text-start") %>
        <div class='col-6'>
            <div class="d-flex justify-content-around">
                <%= link_to display_phase_pill(@project.phase), phase_path(@project.phase, class: "m-0") %>
                <%= link_to @project.github_link, class: "text-white text-decoration-none" do %>
                    <%= fa_icon "github" %>
                <% end %>
                <%= link_to @project.blog_link, class: "text-white text-decoration-none" do %>
                    <%= fa_icon "rss" %>
                <% end  %>
            </div> 
        </div>

        <%= content_tag(:p, @project.desc, class: "text-start") %>
    </div>
    <div class="col-6">
        <div class="card border-0 text-reset text-white bg-dark">
            <div class="row">
                <div class="ratio ratio-16x9">
                    <iframe class="card-img-top" src='https://www.youtube.com/embed/<%= youtube_id(@project) %>?rel=0&amp;autoplay=1&mute=1' allowfullscreen></iframe>
                </div>
            </div>

            <div class="card-body p-2">
                <div class='row'>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-grid gap-2 d-md-flex align-items-center">
                            <%= render partial: "likes/button", locals: {project: @project} %>
                            |
                            <button type="button" class="btn text-white px-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <%= fa_icon "comment" %>
                            </button>
                        </div>
                        <div>
                            <%= content_tag(:small, class: %w(card-text text-muted)) do %>
                                <%= likers_modal(@project)  %>
                                |
                                <%= commenters_modal(@project) %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <ul class='list-unstyled text-start px-3'><%= render partial: "comments/display_comments", locals: {project: @project} %></ul>
                <div class="py-2">
                    <%= render partial: "comments/modal", locals: {project: @project} %>
                </div>
            </div>
        </div>
    </div>

    <div class="col text-start">
        <%= image_tag(avatar(@project.owner), class: %w(rounded-circle border border-2 border-secondary), height: '120', width: '120') %>
        <%= content_tag(:h5, class: "text-start pt-2") do %>
            <%= "#{@project.owner.first_name}'s other projects:" %>
        <% end  %>
        <%= render partial: "users/projects", locals: {user: @project.owner} %>
    </div>
</div>

<%= render partial: "likes/likers_modal", locals: {project: @project} %>
<%= render partial: "comments/commenters_modal", locals: {project: @project} %>
<%= render partial: "comments/modal", locals: {project: @project} %>