<div class="row gx-5">
    <div class="col">
        <%= content_tag(:h1, @project.name, class: "display-3 text-start") %>
        <%= content_tag(:p, @project.desc, class: "text-start") %>
    </div>
    <div class="col-6">
        <div class="ratio ratio-16x9">
            <iframe class="card-img-top" src='https://www.youtube.com/embed/<%= youtube_id(@project) %>?rel=0&amp;autoplay=1&mute=1' allowfullscreen></iframe>
        </div>
    </div>
    <div class="col">
        <div class='container'>
            <div class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 500px;">
                <div class='p-2'>
                    <ul><%= render partial: "comments/display_comments", locals: {project: @project} %></ul>
                </div>
                <div class="mt-auto p-2">
                    <%= render partial: "comments/modal", locals: {project: @project} %>
                </div>
            </div>
        </div>
    </div>
</div>

