<!DOCTYPE html>
<html>
  <head>
    <title>ProjectMode</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= button_to "Login with Canvas", '/auth/canvas' %>
    <%= link_to "Show my stuff", user_path(User.first) %>

    <%= yield %>
  </body>
</html>
